 body{
  border: 5px outset #8dff03;
  background-color: black;
  text-align: center;
}

h1{
  color: white;
  text-align: center;
  font-family: papyrus;
}

p {
  font-family: helvetica;
  color: white;
  font-size: 20px;
}